.product-card {
  position: relative;
  height: 450px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 !important;
  overflow: hidden;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* эффект карточки */
.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* картинка */
.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* увеличение картинки */
.product-card:hover .product-img {
  transform: scale(1.07);
}

.product-title {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #333;
  height: 50px; 
  overflow: hidden;
}

.product-text {
  font-size: 1rem;
  color: #666;
  height: 60px; 
  overflow: hidden;
}

/* кнопку скрываем */
.btn-primary {
  display: none;
}

/* затемнение */
.product-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.1)
  );
  pointer-events: none;
}

/* текст поверх картинки */
.product-card .card-body {
  position: absolute;
  bottom: 0;
  color: white;
  z-index: 2;
}

@media (max-width: 768px) {
  .product-card {
    height: 420px; 
  }

  .product-img {
    height: 180px; 
  }
}

@media (max-width: 480px) {
  .product-card {
    height: 400px; 
  }

  .product-img {
    height: 160px; 
  }
}