# /etc/systemd/system/anime-backend.service
# C# ASP.NET Core бэкенд

[Unit]
Description=Anime Backend (ASP.NET Core)
After=network.target

[Service]
WorkingDirectory=/var/www/ficussword/backend
ExecStart=/usr/bin/dotnet /var/www/ficussword/backend/WebApplication21.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=anime-backend
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://127.0.0.1:5097

[Install]
WantedBy=multi-user.target
